<p>
  <mat-toolbar>
    <span>Hooly</span>
    <div [style.display]="'flex'" [style.padding-left]="'10%'">
      <nav>
        <a [style.cursor]="'pointer'" (click)="onGoBooking()">Réservation</a>
      </nav>
    </div>
  </mat-toolbar>
</p>
