.outerContainer {
  padding: 5px;
  border: 1px solid #b6b6b6;
}

div.slot-container {
  color: #eeeeee;
  margin-bottom: 10px;
}

div.slot-container > div {
  height: 100px;
  width: 150px;
}

.slots-container{
  padding: 2%;
}



