<mat-card>
  <mat-form-field [style.visibility]="'hidden'" class="example-full-width" appearance="fill">
    <mat-label>Choisissez une date :</mat-label>
    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker"
      (dateChange)="addEvent('change', $event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button mat-raised-button (click)="picker.open()">Réserver</button>
</mat-card>
<mat-card *ngIf="panelOpenState" class="slots-container">
  <h1> {{ templateDate | date:'fullDate'  }} </h1>
  <p>merci de cliquer sur l'emplacement désiré :</p>
  <div [style.justify-content]="'space-between'" [style.display]="'flex'" *ngIf="slots !== undefined" class="outerContainer">
    <div *ngFor="let slot of slots.bookingSlots" class="slot-container">
      <div [style.background-color]="slot.reserved ? 'red' : 'green'" [style.cursor]="slot.reserved ? 'not-allowed' : 'pointer'" (click)="bookSlot(slot)">
        <app-booking-slot [bs]="slot"></app-booking-slot>
      </div>
    </div>
  </div>
</mat-card>
<mat-card *ngIf="reservedSlot" class="confirmation">
  <h1> Confirmation: voulez-vous réserver l'emplacement {{ reservedSlot.number }} le {{ templateDate | date:'fullDate' }}? </h1>

  <div class="buttons-container">
    <button mat-button color="primary" (click)="confirmMethod(selectedDate)">Réserver</button>
    <button mat-button color="warn">Annuler</button>
  </div>
</mat-card>
